<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GETLIB</http-method>
            <http-method>COPY</http-method>
            <http-method>MOVE</http-method>
            <http-method>DELETE</http-method>
            <http-method>PROPFIND</http-method>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>MKCOL</http-method>
            <http-method>PROPPATCH</http-method>
            <http-method>LOCK</http-method>
            <http-method>UNLOCK</http-method>
            <http-method>VERSION-CONTROL</http-method>
            <http-method>CHECKIN</http-method>
            <http-method>CHECKOUT</http-method>
            <http-method>UNCHECKOUT</http-method>
            <http-method>REPORT</http-method>
            <http-method>UPDATE</http-method>
            <http-method>CANCELUPLOAD</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Protected</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>Protected</role-name>
    </security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <!--
            Servlets & Mapping 
    -->
    <servlet>
        <servlet-name>PrepareRepository</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.PrepareRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrepareRepository</servlet-name>
        <url-pattern>/exec/PrepareRepository</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnprepareRepository</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.UnprepareRepository</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnprepareRepository</servlet-name>
        <url-pattern>/exec/UnprepareRepository</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FillDefault</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.FillDefault</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillDefault</servlet-name>
        <url-pattern>/exec/FillDefault</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsAlreadyInstalled</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.IsAlreadyInstalled</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsAlreadyInstalled</servlet-name>
        <url-pattern>/exec/IsAlreadyInstalled</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.AdminUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/exec/AdminUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigureMailApi</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.ConfigureMailApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigureMailApi</servlet-name>
        <url-pattern>/exec/ConfigureMailApi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MailApiIsAlreadyConfigured</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.MailApiIsAlreadyConfigured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailApiIsAlreadyConfigured</servlet-name>
        <url-pattern>/exec/MailApiIsAlreadyConfigured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUserIsAlreadyConfigured</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.AdminUserIsAlreadyConfigured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserIsAlreadyConfigured</servlet-name>
        <url-pattern>/exec/AdminUserIsAlreadyConfigured</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigureSysInfo</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.ConfigureSysInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigureSysInfo</servlet-name>
        <url-pattern>/exec/ConfigureSysInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SysInfoIsAlreadyConfigured</servlet-name>
        <servlet-class>de.siv.ksc.webinstaller.SysInfoIsAlreadyConfigured</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SysInfoIsAlreadyConfigured</servlet-name>
        <url-pattern>/exec/SysInfoIsAlreadyConfigured</url-pattern>
    </servlet-mapping>
    <!--
            Datasource
    -->
    <resource-ref>
        <description>Repository</description>
        <res-ref-name>jdbc/repository</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
